body {
    background-color: rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main {
    display: flex;
}
.italic {
    font-style: italic;
}
.picture {
    display: flex;
}
.image {
    width: 40vw;
    object-fit: cover;
    object-position: 25%;
}
.banner {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: absolute;
    margin-top: 263px;
    width: 40vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
    letter-spacing: 22px;
}
.content {
    background-image: linear-gradient(to bottom right, rgba(235, 235, 235, 1), rgba(0,0,0,0.5));
    min-width: 600px;
    display: flex;
    flex-direction: column;
}
.heading {
    font-size: 24px;
    font-weight: 600;
    padding-top: 15vh;
    padding-left: 25px;
    padding-right: 13vw;
}
.formheading {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 600;
}
.form {
    margin-top: 4vh;
    background-color: rgb(255, 196, 119);
    padding-left: 25px;
    padding-bottom: 3vh;
    box-shadow: 5px 5px 5px grey;
}
input {
    height: 40px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: 2px;
    background-color: whitesmoke;
}
input::placeholder {
    opacity: 0.4;
}
input:valid {
    border-color: green;
    border: 2px solid;
}
.grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 100px;
    row-gap: 20px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}
.actions {
    padding-top: 35px;
    padding-left: 25px;
}
.already {
    padding-top: 35px;
    font-size: 18px;
    font-weight: 400;
}
.first, .last, .email, .number, .password, .confirm {
    display: flex;
    flex-direction: column;
}
.createaccount {
    background-color: rgb(245, 168, 27);
    border: 0;
    color: white;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 1px 1px rgb(44, 44, 44);
}
.createaccount:active {
    /* transform: translateY(1px); */
    transform: scale(0.99);
}
.createaccount:hover {
    background-color: rgb(235, 160, 0);
}
a {
    color: orange;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    text-decoration: underline;
}